
.gender-icon {
    font-size: 18px;
    margin-left: 10px;
  }
  
  .gender-icon.male:before {
    content: "♂";
    color: blue;
  }
  
  .gender-icon.female:before {
    content: "♀";
    color: pink;
  }
  
   .contact {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .contact:last-child {
    border-bottom: none;
  }
  
  .contact .gender {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .contact .gender.male {
    background-color: blue;
  }
  
  .contact .gender.female {
    background-color: pink;
  }
  
  .contact .details {
    flex: 1;
    text-align: center;
  }
  
  .contact p {
    margin: 0;
  }
  
  .search-bar {
    margin-bottom: 10px;
  }
  
  .checkboxes {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
      }
  
  .checkboxes label {
    margin-right: 10px;
  }
  